<!DOCTYPE html>
<html>

<head>
    <title>trackpump</title>
    <meta charset="utf-8">
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/process_login">
        <h1>Create account</h1>
        <p>
            <label for="name_content">Email</label>
            <input id="name_content" name="email" required="required" type="text" placeholder="contato@coldemail.com..">
        </p>
        <p>
            <label for="name_content">Password</label>
            <input id="name_content" name="password" required="required" type="password" placeholder="****">
        </p>
        <p>
            <input type="submit" value="Login" style="align-self: center;">
        </p>
    </form>
</body>

</html>