<!DOCTYPE html>
<html>

<head>
    <title>trackpump</title>
    <meta charset="utf-8">
</head>

<body>
    <form method="POST" enctype="multipart/form-data" action="/process_signup">
        <h1>Create account</h1>
        <p>
            <label for="name_title">Name</label>
            <input id="name_title" name="name" required="required" type="text" placeholder="Name...">
        </p>
        <p>
            <label for="name_content">Email</label>
            <input id="name_content" name="email" required="required" type="text" placeholder="contato@coldemail.com..">
        </p>
        <p>
            <label for="name_content">Password</label>
            <input id="name_content" name="password" required="required" type="password" placeholder="****">
        </p>
        <p>
            <label for="name_content">Gender</label>
            <input id="name_content" name="gender" required="required" type="text" placeholder="0 female or 1 male">
        </p>
        <p>
            <label for="name_content">Birth</label>
            <input id="name_content" name="birth" required="required" type="text" placeholder="1997-11-29">
        </p>
        <p>
            <label for="name_content">Height</label>
            <input id="name_content" name="height" required="required" type="text" placeholder="In centimeters">
        </p>
        <p>
            <input type="submit" value="ENVIAR" style="align-self: center;">
        </p>
    </form>
</body>

</html>